:root {
  font-family: 'DotGothic16', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #111;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: #111;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}